/* Display Inline:

1. Ocupa APENAS o espaço do conteúdo do elemento;
2. Elementos poderão ficar 'em linha'
4. Aplicamos APENAS os valores horizontais de: 
'margin', 'padding' e 'border'

> elementos:
<a>, <span>, <strong>, <em> . . .
*/

span{
    border: 20px;
    margin: 20px;
    padding: 20px;
}